*.o
*.bak
*.obj
*.o
*.div
*.elf
*.s19
*.out
*.log
*.dbg
*.lis
*.lst
*.swp
*.tmp
*.TMP
files/
test-files/
*.i
*dblite
*stackdump
*.exe
*~
archive/
build/
dist/
pydbc.egg-info/
*.pyc
*.pyo
*.zip
*.bin
*.pyd
*.kpf
*.html
